@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "MTSExtended";
    src: url("src/fonts/MTSExtended-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "MTSExtended";
    src: url("src/fonts/MTSExtended-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "MTSExtended";
    src: url("src/fonts/MTSExtended-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "MTSExtended";
    src: url("src/fonts/MTSExtended-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}


:root {
    font-family: MTSExtended, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: black;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
}
